html, body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  background-color: #4F3674;
  color: #FFFFFF;
  border: 1px solid #D6A800;
  padding: 10px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 500;
}

p {
  font-weight: 400;
  line-height: 1.4em;
}

a {
  color: #4F3674;
  text-decoration: none;
}

a:visited {
  color: #6b4aa3;
}

a:hover {
  color: #D6A800;
}
